In [26]:
from platform import python_version
print(python_version())

3.7.16

# 300 Exercícios em Python

#### 1 - Cite três variáveis com trẽs tipos de dados diferentes, respeitando sua sintaxe.

In [3]:
nome = 'Leonardo'
ano = 1988
peso = 86.99

#### 2 - Crie comentário de uma linha.

In [1]:
# Este é um exemplo de comentários com apenas uma linha.

#### 3 - Crie comentário de mais de uma linha.

In [10]:
"""Este é um exemplo de comentário com mais de uma linha 
demonstrando como podemos inserir comentários muito
longos."""

'Este é um exemplo de comentário com mais de uma linha \ndemonstrando como podemos inserir comentários muito\nlongos.'

#### 4 - Escreva um programa que mostra em tela a mensagem: Olá Mundo!!!

In [11]:
print("Olá Mundo!!!")

Olá Mundo!!!

#### 5 - Crie uma variável nome e atribua para a mesma um nome digitado pelo usuário.

In [13]:
nome = input('Por favor, digite seu nome: ')

Por favor, digite seu nome: Leo

#### 6 - Exiba em tela o valor e o tipo de dados da variável num1: Sendo num1 = 1988.

In [17]:
num1 = 1988

print(num1)
print(type(num1))

1988
<class 'int'>

#### 7 - Peça para o usuário que digite um número, em seguida exiba em tela o número digitado.

In [21]:
num = input('Digite um número: ')

print(f'O número digitado foi: {num}')

Digite um número: 13
O número digitado foi: 13

#### 8 - Peça para o usuário que digite um número, em seguida o converta para float, exibindo em tela tanto o número em si quanto seu tipo de dado.

In [23]:
num = input('Digite um número: ')
num = float(num)

print(num)
print(type(num))

Digite um número: 13
13.0
<class 'float'>

#### 9 - Crie uma lista com 5 nomes de pessoas.

In [26]:
nomes = ['Alírio', 'Dorival', 'Juvenal', 'José', 'Maria']

print(nomes)

['Alírio', 'Dorival', 'Juvenal', 'José', 'Maria']

#### 10 - Mostre o tamanho da lista nomes e o número de elementos da lista nomes. Depois, mostre separadamente apenas o terceiro elemento dessa lista.

In [29]:
nomes = ['Alírio', 'Dorival', 'Juvenal', 'José', 'Maria']

print(len(nomes))
print(nomes[3])

5
José

#### 11 - Some os valores das variáveis num1 e num2: Sendo num1= 73 e num2 113. Por fim exiba em tela o resultado.

In [30]:
num1 = 73
num2 = 113

print(num1 + num2)

186

#### 12 - Some os valores das variáveis num1 e num2: Atribua o resultado da soma a uma nova variável homônima. Exiba em tela o canteúdo desa variável.

In [32]:
num1 = 73
num2 = 113

soma = num1 + num2

print(soma)

186

#### 13 - Subtraia os valores de num1 e num2 e exiba em tela o resultado.

In [34]:
num1 = 73
num2 = 113

# print(num1 - num2)
sub = num1 - num2

print(sub)

-40

#### 14 - Realize as operações de multiplicação e de divisão entre os valores das variáveis num1 e num2. Exiba em tela os valores.

In [36]:
num1 = 73
num2 = 113

div = num1 / num2
mult = num1 * num2

print(div)
print(mult)

0.6460176991150443
8249

#### 15 - Eleve o valor da num1 a oitava potência, sendo num1 = 13.

In [37]:
num1 = 13

print(num1**8)

815730721

#### 16 - Escreva um programa que pede que o usuário dê entrada em dois calores, em seguida, exiba em tela o resultado da soma, subtração, multiplicação e divisão desses números.

In [42]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))

soma = num1 + num2
sub = num1 - num2
mult = num1 * num2
div = num1 / num2

print(f'A soma do {num1} mais o {num2} é igual a: {soma}')
print(f'A subtração do {num1} menos o {num2} é igual a: {sub}')
print(f'A multiplicação do {num1} vezes o {num2} é igual a: {mult}')
print(f'A divisão do {num1} dividido o {num2} é igual a: {div}')

Digite o primeiro número: 13
Digite o segundo número: 3
A soma do 13 mais o 3 é igual a: 16
A subtração do 13 menos o 3 é igual a: 10
A multiplicação do 13 vezes o 3 é igual a: 39
A divisão do 13 dividido o 3 é igual a: 4.333333333333333

#### 17 - Dadas duas variáveis num1 e num2 com valores 100 e 89, respectivamente, verifique se o valor da num1 é maior que o de num2.

In [44]:
num1 = 100
num2 = 89
print(num1 > num2)

True

#### 18 - verifique se os valores de num1 e de num2 são iguais.

In [46]:
num1 = 100
num2 = 89
print(num1 == num2)

False

#### 19 - Verifique se os valores de num1 e num2 são diferentes.

In [47]:
um1 = 100
num2 = 89
print(num1 != num2)

True

#### 20 - Verifique se o valor de num1 é igual ou menor que 100.

In [48]:
um1 = 100
num2 = 89
print(num1 <= 100)

True

#### 21 - Verifique se os valores de num1 e num2 são igias ou maiores que 100.

In [51]:
um1 = 100
num2 = 89
print(num1 <= 100 and num2 <= 100)

True

#### 22 - Verifique se os valores de num1 ou num2 são iguais ou maiores que 100.

In [52]:
um1 = 100
num2 = 89
print(num1 >= 100 or num2 >= 100)

True

#### 23 - Verifique se os valores de num1 consta nos elementos da lista1. Sendo num1 = 100 e lista1 = [10, 100, 1000, 10000, 100000].

In [54]:
num1 = 100
lista1 = [10, 100, 1000, 10000, 100000]

print(num1 in lista1)

True

#### 24 - Crie duas variáveis com dois valores numéricos inteiros digitados pelo usuário, caso o valor do primeiro número for maior que o segundo, exiba em tela uma mensagem de acordo, caso contrário, exiba em tela uma mensagem dizendo que o primeiro valor digitado é menor que os segundo.

In [58]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))

if num1 > num2:
    print(f'O valor do primeiro número digitado é MAIOR que o segundo!')
else:
    print(f'O valor do primeiro número digitado é MENOR que o segundo!')

Digite o primeiro número: 3
Digite o segundo número: 13
O valor do primeiro número digitado é MENOR que o segundo!

#### 25 - Peça para que o usuário digite um número, em seguida exiba em tela uma mensagem dizendo se tal número é PAR ou se é ÍMPAR.

In [60]:
num = int(input('Digite um número: '))

if (num % 2) == 0:
    print(f'{num} é PAR!')
else:
    print(f'{num} é ÍMPAR!')

Digite um número: 13
13 é ÍMPAR!

#### 26 - Crie uma variável com valor inicial 0, enquanto o valor dessa variável for igual ou menos que 10, exiba em tela o próprio valor da variável. A cada execução a mesma deve ter seu valor atualizado, incrementado em 1 unidade.

In [62]:
var = 0

while var <= 10:
    print(var)
    var = var + 1

0
1
2
3
4
5
6
7
8
9
10

#### 27 - Crie uma estrutura de repetição que percorre a string 'Nikola Tesla', exibindo em tela letra por letra desse nome.

In [64]:
for i in 'Nikola Tesla':
    print(i)

N
i
k
o
l
a

T
e
s
l
a

 #### 28 - Cire uma lista com 8 elementos de uma lista de compras de supermercado, por meio de um laço de repetição for liste individualmente cada um dos itens dessa lista.

In [65]:
lista10 = ['Água', 'Açúcar', 'Arroz', 'Macarrão', 'Café', 'Bolacha', 'Leite', 'Banana', 'Maçã', 'Pêra']

for i in lista10:
    print(i)

Água
Açúcar
Arroz
Macarrão
Café
Bolacha
Leite
Banana
Maçã
Pêra

#### 29 - Crie um programa que lê um valor de início e um valor fim, exibindo em tela a contage dos números dentro desse intervalo.

In [67]:
inicio = int(input('Digite o número de início da contagem: '))
fim = int(input('Digite o número de início da contagem: '))

for i in range(inicio, fim + 1):
    print(i)

Digite o número de início da contagem: 3
Digite o número de início da contagem: 13
3
4
5
6
7
8
9
10
11
12
13

#### 30 - Crie um programa que realiza a contagem de 0 a 20, exibindo apenas os números pares.

In [68]:
for i in range(0, 21):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

#### 31 - Crie um programa que realiza a Progressão Aritmética de 20 elementos, com primeiro termo e razão definidos pelo usuário.

In [2]:
termo = int(input('Insira o primeiro termo: '))
razao = int(input('Insira a razão: '))
pa = termo + (20 - 1)*razao

for i in range(termo, pa+razao, razao):
    print(i)

Insira o primeiro termo: 13
Insira a razão: 3
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70

#### 32 - Crie um programa que exibe em tela a tabuada de um determinado número fornecido pelo usuário.

In [3]:
x = termo = int(input('Insira um número para iniciarmos a tabuada: '))

for num in range(1, 11):
  print(f'{x} X {num} = {x*num}')

Insira um número para iniciarmos a tabuada: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

#### 33 - Crie um programa que realiza a contagem regressiva de 20 segundos.

In [5]:
from time import sleep

for i in range(20, -1, -1):
    print(i)
    sleep(1)
    
print('Contagem Terminada!')

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
Contagem Terminada!

#### 34 - Crie um programa que realiza a contagem de 1 até 100, usando apenas de números ímpares, ao final do processo exiba em tela quantos números ímpares foram encontrados nesse intervalo, assim como a soma dos mesmos.

In [9]:
contador = 0
soma = 0

for i in range(1, 101):
    if i % 3 == 0:
        soma += i
        contador += 1
        
print(f'Foram encontrados {contador} números ímpares!')
print(f'A soma destes números é: {soma} !!!')

Foram encontrados 33 números ímpares!
A soma destes números é: 1683 !!!

#### 35 - Crie um programa que pede ao usuário que o mesmo digite uma númeroo qualquer, em seguida retrone se esse número é primo ou não, caso não, retorne também quantas vezes esse número é divisível.

In [11]:
num = int(input('Insira um número: '))
divisoes = 0

for i in range(1, num +1):
    if num % i == 0:
        divisoes += 1
        
if divisoes == 2:
    print(f'{num} é primo!')
    print(f'{num} é divisível por 1 ou por {num}')

Insira um número: 13
13 é primo!
13 é divisível por 1 ou por 13

#### 36 - Cire um programa que pede que o usuário digite um nome ou uma frase, verifique se esse conteúdo digitado é um palindromo ou não, exibindo em tela esse resultado.

In [3]:
frase = str(input('Digite uma palavra ou frase: ')).strip().upper()
palavras = frase.split()
caracteres = ''.join(palavras)
fraseinvertida= ''

for i in range(len(caracteres)-1, -1, -1):
    fraseinvertida += caracteres[i]
    
print(caracteres, fraseinvertida)

if fraseinvertida == caracteres:
    print('É um palíndromo!!!')
else:
    print('Não é um palíndromo...')

Digite uma palavra ou frase: arara
ARARA ARARA
É um palíndromo!!!

#### 37 - Declare uma variável que por sua vez recebe um nome digitado pelo usuário, em seguida, exiba em tela uma mensagem de boas-vindas que incorpora o nome anteriro digitado, fazendo uso de f'strings.

In [8]:
usuario = str(input('Qual o seu nome? '))
print(f'Seja bem vindo, {usuario.title()} !')

Qual o seu nome? leo
Seja bem vindo, Leo !

#### 38 - Peça para uqe o usuário digite um número, diretamente dentro da função print(), eleve esse número ao quadrado, exibindo o resultado incorporado a uma mensagem.

In [9]:
num = int(input('Digite um número: '))

print(f'{num} elevado ao quadrado é igual: {num**2}')

Digite um número: 33
33 elevado ao quadrado é igual: 1089

#### 39 - Dada a seguinte lista: nomes = ['Ana', 'Carlos', 'Daiane', 'Fernando', 'Maria'], substitua o terceiro elemento da lista por 'Jamile'.

In [11]:
nomes = ['Ana', 'Carlos', 'Daiane', 'Fernando', 'Maria']
nomes[2] = 'Jamile'

print(nomes)

['Ana', 'Carlos', 'Jamile', 'Fernando', 'Maria']

#### 40 - Adicione o elemento 'Paulo' na lista nomes.

In [13]:
nomes = ['Ana', 'Carlos', 'Daiane', 'Fernando', 'Maria']
nomes.append('Paulo')

print(nomes)

['Ana', 'Carlos', 'Daiane', 'Fernando', 'Maria', 'Paulo']

#### 41 - Adicione o elemento 'Eliana' na lista nomes, especificamente na terceira posição da lista.

In [14]:
nomes = ['Ana', 'Carlos', 'Daiane', 'Fernando', 'Maria']

nomes.insert(2, 'Eliana')
print(nomes)

['Ana', 'Carlos', 'Eliana', 'Daiane', 'Fernando', 'Maria']

#### 42 - Remova o elemento 'Carlos' da lista de nomes.

In [16]:
nomes = ['Ana', 'Carlos', 'Daiane', 'Fernando', 'Maria']

nomes.remove('Carlos')
print(nomes)

['Ana', 'Daiane', 'Fernando', 'Maria']

#### 43 - Mostre o segundo terceiro e quarto elemento da lista de nomes. Separadamente, mostre apenas o último elemento da lista de nomes.

In [17]:
nomes = ['Ana', 'Jamile', 'Daiane', 'Fernando', 'Maria']

print(nomes[1:4])
print(nomes[-1])

['Jamile', 'Daiane', 'Fernando']
Maria

#### 44 - Crie um dicionário via método construtor dict(), atribuindo para o mesmo ao menos 5 conjuntos de chaves e valores representando objetos e seus respectivos preços.

In [18]:
dicionario = dict(Pão = 'R$ 1,99', 
                 Açúcar = 'R$ 4,99', 
                 Café = 'R$ 3,49',
                 Banana = 'R$ 3,99',
                 Carne = 'R$ 16,99')

print(dicionario)

{'Pão': 'R$ 1,99', 'Açúcar': 'R$ 4,99', 'Café': 'R$ 3,49', 'Banana': 'R$ 3,99', 'Carne': 'R$ 16,99'}

#### 45 - A partir da seguinte lista = ['C', 'JavaScript', 'Lua', 'Python'] verifique primeiramente e retorne ao usuário se a linguagem de programação Python consta na lista. Retorne uma mensagem amigável ao usuário para estas duas situações.

In [23]:
lista = ['C', 'JavaScript', 'Lua', 'Python']

for i in lista:
    if i == 'Python':
        print('Python faz parte da lista!' )
    else:
        pass

Python faz parte da lista!